.mainBox {
    padding-bottom: 15vh;
}

.videoBox {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-58%);
    top: 90px;
    z-index: 1;
    margin-bottom: 80px;
}

.contentBox{
    position: relative;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 80vmin;
    z-index: 10;
}

h1{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    font-family: 'Krona One', sans-serif;
}

.landingText {
    width: 80%;
    margin-top: 210px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    background:rgba(245, 222, 179, 0.555)
}

@media screen and (min-width: 700px){
    h1 {
        font-size: 8vmax;
        text-align: center;
        padding: 0;
    }
}

@media only screen and (pointer: fine) {
    .videoBox {
        width: fit-content;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 80px;
    }

    .contentBox {
        left: 50%;
        transform: translateX(-50%);
        width: 80vmax;
    }

    h1 {
        font-size: 8vmax;
    }

    .landingText {
        width: 30%;
        margin-left: 60%;
        margin-right: 25%;
        margin-top: 80px;
    }
}