.fullGraph{
    margin-left: auto;
    margin-right: auto;
    border-top: 5px solid yellow;
    width: 375px;
}

h3 {
    width: fit-content;
}

.stateGraphHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (hover: hover) {
    .fullGraph {
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
        width: fit-content;
    }
}