.footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid yellow;
    position: relative;
    bottom: 0;
}

.footerChunk {
    border: 1px solid black;
    width: fit-content;
}

.footerLink {
    color: black;
    text-decoration: none;
}